{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body id="category">

    <!-- Start Header Area -->
    

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>My Order</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">My order</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% if carts%}
                        {% for i in carts %}
                        <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{{i.product.pic.url}}"style="height: 200px; width: 200px;" alt="">
                            <div class="product-details">
                                <h6>Brand: {{i.product.brand}}</h6>
                                <div class="price">
                                    <h6>Product Price: {{i.product.price}}  RS</h6>
                             
                            </div>
                                <form name="qty" method="post" action="{%url 'cqty' %}">
                                    {%csrf_token%}
                                   <h6> Qty:<input type="number" name="qty" value={{i.qty}} min=1 max=10 onchange="this.form.submit();" readonly>
                                   <input type="hidden" name="pk" value="{{i.pk}}">
                                </form>
                                
                                 <h6>Total price: {{i.total}}</h6>
                              
                                <div class="prd-bottom">

                                    
                                    <a href="{% url 'product-details' pk=i.product.pk%} "class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <center>
                        <h1>No Product in orders</h1>
                    </center>
                    {%endif%}
                    </div>
                    <h1>{{net_price}}
                    
                </section>
                <!-- End Best Seller -->
                
    <!-- Modal Quick Product View -->
    
    

 </body>

</html>

{% endblock %}