{% extends 'sheader.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

	
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Edit product  </h1>
					<nav class="d-flex align-items-center">
						Home<span class="lnr lnr-arrow-right"></span></a>
						 </a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3> Edit product  </h3>
						{% if msg%}
						{{msg}}
						{% endif%}
						<form class="row login_form" action="{% url 'seller-edit-product' pk=product.pk %}" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="price" name="price" value="{{product.price}} "  placeholder="price" onfocus="this.placeholder = ''" onblur="this.placeholder = 'fname'"><br><br><br>
							</div>
							<div class="col-md-12 form-group">
								<select class="form-control" name="brand">
									{% if product.brand == "PUMA" %}
										<option  value="PUMA" selected>PUMA</option>
										<option value="Adidas">Adidas</option>
										<option value="BATA">BATA</option>
										<option value="CAMPUS">CAMPUS</option>
									{% elif product.brand == "Adidas" %}
										<option  value="PUMA">PUMA</option>
										<option value="Adidas" selected>Adidas</option>
										<option value="BATA">BATA</option>
										<option value="CAMPUS">CAMPUS</option>
									{% elif product.brand == "BATA" %}
										<option  value="PUMA">PUMA</option>
										<option value="Adidas">Adidas</option>
										<option value="BATA" selected>BATA</option>
										<option value="CAMPUS">CAMPUS</option>
									{% elif product.brand == "CAMPUS" %}
										<option  value="PUMA">PUMA</option>
										<option value="Adidas">Adidas</option>
										<option value="BATA">BATA</option>
										<option value="CAMPUS" selected>CAMPUS</option>
									{% endif %}
							
									
								</select>
								<br><br><br>
							</div>
							<div class="col-md-12 form-group">
								<select class="form-control" name="size">
									{% if product.size == "PUMA" %}
										<option  value="8" selected>8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
									{% elif product.size == "9" %}
										<option  value="8">8</option>
										<option value="9" selected>9</option>
										<option value="10">10</option>
										<option value="11">11</option>
									{% elif product.size == "10" %}
										<option  value="8">8</option>
										<option value="9">9</option>
										<option value="10" selected>10</option>
										<option value="11">11</option>
									{% elif product.size == "11" %}
										<option  value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11" selected>11</option>
									{% endif %}
							
									
								</select>
							</div>
							<div class="col-md-12 form-group">
								<img src="{{product.pic.url}}" width="100px" height="100px">
							</div>
							<div class="col-md-12 form-group">
								<input type="file" name="pic">Upload Picture
							</div><br><br><br>
							
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">update Product </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	


	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{%static 'js/vendor/bootstrap.min.js'%}"></script>
	<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
	<script src="{%static 'js/jquery.nice-select.min.js'%}"></script>
	<script src="{%static 'js/jquery.sticky.js'%}"></script>
	<script src="{%static 'js/nouislider.min.js'%}"></script>
	<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{%static 'js/owl.carousel.min.js'%}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{%static 'js/gmaps.min.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
</body>

</html>
{% endblock %}